.error-text-404{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
}

.P404-video{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 90%;
    
    border-radius: 15px;
    overflow: hidden;
}